@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,700&family=Public+Sans:wght@100&display=swap');
.full {
  font-family: 'Public Sans', sans-serif;
}
.l {
  position: relative;
  left: 2%;
}
.progress-bar {
  width: 100%;
  height: 10px; /* Adjust the height as needed */
  background-color: orange; 
}
.myblog {
  height: 90vh;
  position: relative;
  top: 20px;
  z-index: 99999999999999;
  overflow: auto;
}
.bt-close {
  float: right;
  font-size: 5vw;
}
.shift {
  position: relative;
  left: 4vw;
}

#hideLink {
  display: none;
}

.carousel-content {
  display: flex;
  align-items: center; /* Vertically center content within each slide */
}
.left-aligned-content {
  text-align: left; /* Align content to the left within the slide */
  /* You can also add padding or margin as needed */
}
.progress {
  height: 100%;
}

#home-section {
  position: relative;
  top: 5rem;
}
/* Define the style for the radio button */
input[type="radio"] {
    appearance: none; /* Remove the default appearance */
    -webkit-appearance: none; /* Remove the default appearance for WebKit browsers */
    width: 20px; /* Set the width of the custom radio button */
    height: 20px; /* Set the height of the custom radio button */
    border-radius: 50%; /* Make it circular */
    border: 2px solid orange; /* Add a border */
    background-color: white; /* Background color when unchecked */
    margin-right: 5px; /* Add some spacing between label and button */
}

/* Define the style for the radio button when it's checked */
input[type="radio"]:checked {
    background-color: orange; /* Change the background color when checked */
}

.team1 {
  width: 70%;
  border-radius: 50%;
}
.full-w {
  width: 100%;
}
.reduce {
  width: 50%;
}
.cont {
  font-family: 'Public Sans', sans-serif;
  position: relative;
  left: 4vw;
}
.full-des {
  font-family: 'Public Sans', sans-serif;
  position: relative;
  left: -3vw;
}
.planet {
  width: 10vw;
  position: relative;
  top: 4vw;
  opacity: 0.4;
  animation: move 6s linear infinite;
}
@keyframes move {
  0% 100% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(40%);
  }
}
.home > div {
  z-index: 999999999999;
}
.home {
  background-image: url("component/static/images (2).jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  display: block;
  color: white;
  position: relative;
  width: 100%;
  height: 40rem;
  top: 0;
}


.full-de {
  font-family: 'Public Sans', sans-serif;
}
.dev {
  color: orange;
  font-size: 5vw;
}
.content {
  color: lightgrey;
}
.owner-name {
  font-size: 9vw;
  position: relative;
  left: -1vw;
}
.rate {
  font-size: 8vw;
}
.btn-nav {
  background-color: orange;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  position: fixed;
  top: 140vw;
  float: right;
  left: 80%;
  font-size: 8vw;
  height: 17vw;
  width: 17vw;
  z-index: 999999999999;
}
#coner-nav {
  background-color: black;
  width: 5rem;
  position: fixed;
  top: 0;
  height: 100vh;
  text-align: center;
  z-index: 999999999999999999999;
  left: -2vw;
  margin-right: 2rem;
}
#coner-nav > a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  margin-top: 4rem;
  z-index: 999999999999999999999;
}
#coner-nav > * {
  margin-top: 3.5rem;
  z-index:999999999999999999999;
}
.App {
  background-color: black;
  overflow: hidden;
}
#coner-nav > a:hover{
  color: orange;
}
.abouts {
  background-color: black;
  overflow: hidden;
}
.profile-image {
  width: 90%;
  height: 90vw;
  border-radius: 50%;
  border: solid 4px orange;
}
.project-height > img{
  width: 50%;
  height: 40vw;
}
.im{
  height: 30vw;
  width: 50%;
}
.git {
  position: relative;
  left: 2vw;
}
.profile-container{
  text-align: center;
  
}
.social > a > i {
  margin-top: 2vw;
}
.social > a {
  text-decoration: none;
  color: white;
  border-radius: 50%;
  padding: 0.40rem;
  z-index: 99999999;
  border: solid 2px white;
  background-color: black;
  width: 2.8rem;
  position: relative;
  margin-top: -0.40rem;
}
.showNav {
  display: block;
}
.hideNav {
  display: none;
}
.award-text {
  position: relative;
  left: 5vw;
}
.facebook {
  position: relative;
  top: -11.5vw;
  left: -3vw;
}
.twitter {
  position: relative;
  top: -8rem;
  left: -2vw;
}
.twitter {
  position: relative;
  top: -8vw;
  left: -2vw;
}
.instagram {
  position: relative;
  top: -6vw;
  left: -1vw;
}
.linked {
  position: relative;
  top: -7vw;
  right: -1vw;
}
.whatsapp {
  position: relative;
  top: -11vw;
  right: -2vw;
}
.social > a:hover {
  background-color: orange;
}
.span {
  position: relative;
  left: 3vw;
  font-size: 4vw;
  font-weight: bold;
  color: lightgrey;
}
.award {
  width: 18%;
  height: 16vw;
}
.font {
  color: orange;
  font-size: 4vw;
}
#name {
  margin-top: -3vw;
}
.biography-content{
  color: grey;
}
.contact-info > span {
  position: relative;
  left: 5vw;
  color: grey;
}

.do-container:hover {
  background-color: orange;
}
.doing {
  font-family: 'Public Sans', sans-serif;
}
.do-container {
  background-color: grey;
  margin-left: 4px;
}
.im {
  height: 40vw;
}
.bottom {
  margin-top: 2vw;
}
.project-height {
  
}
.bottom > a{
  text-decoration: none;
  color: white;
  padding: 1vw;
}
.bottom > a:hover{
  color:orange;
}
.bottom > a > i {
  font-size: 3vw;
}

.icon {
  font-size: 8vw;
  color: white;
  padding: 8vw;
  background-color: orange;
  border-radius: 2% 10% 100% 10%;
  margin-top: 0vw;
  margin-left: -3vw;
  height: 30vw;
  width:40%;
  text-align: center;
}
div > .icon:hover {
  background-color: black;
}
.toper {
  display:none;
}
@media only screen and (min-width: 768px) {
  #about{
    margin: 5vw;
    padding: 5vw;
  }
  .planet {
    width: 6vw;
  }
  .icon {
    font-size: 4vw;
    height: 10vw;
    width: 10vw;
    padding: 2vw;
    margin-left: -1vw;
  }
  .social > a > i {
  margin-top: 0;
   }
  .dark {
    background-color: black;
    overflow: hidden;
  }
  .profile-image {
    width: 40vw;
    height:40vw;
  }
  .social > a {
    margin-top: 2.5rem;
  }
  #home-section {
    position: relative;
    top: 8rem;
  }
  #p {
    width: 60%;
  }
  .owner-name {
    font-size: 7vw;
  }
  .dev {
    font-size: 3vw;
  }
  .btn-nav {
    display: none;
  }
  #coner-nav {
    width: 4rem;
    z-index:999999999999999;
    left: 0;
    padding: 1rem;
    height: 80vh;
  }
  
.bloging > .row > .col-xs-12 > .container-fluid > .container-fluid > .myblog {
  z-index: 999999999999999999;
}
  .full-des {
  position: relative;
  left: -4vw;
}
.team1 {
  width: 45%;
}
  #coner-nav > a {
    font-size: 3vw;
  }
  .hideNav {
    display: block;
  }
  .cont {
    width: 65%;
  }
  .toper {
    display: block;
  }
  .toper > button{
    margin: 2vw;
    padding: 1vw;
    text-decoration: none;
    color: white;
    background-color: orange;
    border: none;
  }
  .ext > button:hover{
    background-color: orange;
    padding: 1vw;
    
  }
  #name {
    margin-top: 0;
  }
  .linker {
    background-color: orange;
    padding: 1vw;
  }
  .bonz {
    display: block;
  }
  .award {
    width: 8%;
    height: 6vw;
  }
  .award-text {
    left: 3vw;
  }
.img-p {
  height: 30vw;
}
.span {
  font-size: 2vw;
}
.home {
  height: 50rem;
}
.rate {
  font-size: 5vw;
}
.bloging {
  padding: 9vw;
}
#exps {
  padding: 8vw;
  position: relative;
  top: 5vw;
}
.left-aligned-content {
  width: 70%;
  position: relative;
  left: 15%;
}
.im{
  width: 60%;
}
.myform {
  width: 60%;
  position: relative;
  left: 20%;
}

}